/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling ("look-and-feel") for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
//
// Common file is where you place common utility classes to extend or
// parametrics. Optional file.
@import "base/common";
//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";
//
// Styling for elements.
@import "base/elements";
//
// Layout
//
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";
// Components
// @import "components/buttons";
// @import "components/type";
// @import "components/forms";
@import "components/foundation-icons";
// Themes
// @import "theme/button-light";
// IE8 Grid Support
//@import "ie";
$nics: #d8b42b;
//$nics: #375ddd;
$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;
$page_color:#f5f5f5;
$span: #1d1b1b;
$alt_color: #d8d8d8;

@media screen and (min-width:1200px) and (max-width: 1600px) {
    .fs1,
    .fs2,
    .fs3 {
        @include grid-column(4);
        padding: 0 !important;
        height: 255px;
    }
}

@media screen and (min-width:1200px) and (max-width: 1600px) {
    .fs4,
    .fs5,
    .fs6 {
        @include grid-column(4);
        padding: 0 !important;
    }
    .fs6 {
        height: 255px;
        background-color: $nics;
        h3 {
            &:hover {
                color: #f4f4f4;
            }
            a {
                color: #f4f4f4;
                text-transform: uppercase;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

// .sliding-middle-out {
//   display: inline-block;
//   position: relative;
//   padding-bottom: 3px;
// }
.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    -ms-transition: width .5s ease, background-color .5s ease;
    -o-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 100%;
    background: #fff;
}

.gotos {
    width: 220px;
    margin: auto;
    padding: 100px 0;
    a {
        font-size: 2em;
        color: #fff;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .effect-1 {
        @include grid-column($columns: 10, $center: true);
        margin-top: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width:757px) {
    .effect-1 {
        @include grid-column($columns: 8, $center: true);
        margin-top: 20px;
    }
}

@media only screen and (min-width:320px) and (max-width:480px) and (orientation:portrait){
  .hero_text {
    position: absolute;
    top: 2%;
    left: 2%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 1em;
        color:#fff;
    }
    p {
        font-size: 0.5em;
        color: #d8b42b;
    }
}
}


@media only screen and (min-width:768px) and (max-width:1024px){
  .hero_text {
    position: absolute;
    top: 2%;
    left: 4%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 3em;
        color:#fff;
    }
    p {
        font-size: 1.5em;
        color: #d8b42b;
    }
}
}

@media only screen and (min-width:1024px) and (max-width:1440px){
  .hero_text {
    position: absolute;
    top: 3%;
    left: 7%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 5em;
        color:#fff;
    }
    p {
        font-size: 1.5em;
        color: #d8b42b;
    }
}
}

@media only screen and (max-width:767px) {
  .hero_text {
    position: absolute;
    top: 3%;
    left: 4%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 3em;
        color:#fff;
    }
    p {
        font-size: 0.5em;
        color: #d8b42b;
    }
}
}

@media only screen and (min-width:414px) and (max-width:736px) and (orientation:portrait){
  .hero_text {
    position: absolute;
    top: 2%;
    left: 4%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 2em;
        color:#fff;
    }
    p {
        font-size: 0.5em;
        color: #d8b42b;
    }
}
}


@media only screen and (min-width:414px) and (max-width:736px) and (orientation:landscape){
  .hero_text {
    position: absolute;
    top: 3%;
    left: 4%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 3em;
        color:#fff;
    }
    p {
        font-size: 1em;
        color: #d8b42b;
    }
}
}

@media only screen and (min-width:375px) and (max-width:667px) and (orientation:portrait){
  .hero_text {
    position: absolute;
    top: 1.5%;
    left: 4%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 2em;
        color:#fff;
    }
    p {
        font-size: 0.5em;
        color: #d8b42b;
    }
}
}

@media only screen and (min-width:375px) and (max-width:667px) and (orientation:landscape){
  .hero_text {
    position: absolute;
    top: 2.5%;
    left: 4%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 2.6em;
        color:#fff;
    }
    p {
        font-size: 0.5em;
        color: #d8b42b;
    }
}
}

@media only screen and (min-width:360px) and (max-width:640px) and (orientation:portrait){
  .hero_text {
    position: absolute;
    top: 1.5%;
    left: 4%;
    text-align: center;
    .tw .fa:hover {
      color:#1da1f2;
    }
    .fb .fa:hover {
    color:#3b5998;
    }
    h1 {
        font-size: 1.5em;
        color:#fff;
    }
    p {
        font-size: 0.5em;
        color: #d8b42b;
    }
}
}





#node-11 {
    display: block;
    margin-bottom: 15px;
}

#node-11 .clients-wrap {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

#node-11 .clients-wrap ul {
    display: block;
    list-style: none;
    position: relative;
}

#node-11 .clients-wrap ul li {
    display: block;
    float: left;
    position: relative;
    width: 180px;
    // height: 55px;
    line-height: 120px;
    text-align: center;
    padding: 0 10px;
}

#node-11 .clients-wrap ul li img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity=65);
    opacity: 0.65;
}

#node-11 .clients-wrap ul li img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1.0;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .about {
        @include grid-column(4);
        padding: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .about {
        @include grid-column(4);
        text-align: center;
    }
}

@media only screen and (min-width:480px) and (max-width:757px) and (orientation: landscape) {
    .about {
        @include grid-column($columns: 10, $center: true);
        margin-top: 30px;
        text-align: center;
    }
}
@media only screen and (min-width:480px) and (max-width:757px) and (orientation: portrait) {
    .about {
        @include grid-column($columns: 6, $center: true);
        margin-top: 30px;
        text-align: center;
    }
}

@media all and (max-width:480px) {
    span.field-content h2 {
        font-size: 1em;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    span.field-content h2 {
        font-size: 1.3em;
        text-align: center;
        color: #fff;
        line-height: 65px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    span.field-content h2 {
        font-size: 1em;
        text-align: center;
        color: #222;
        height: 40px;
    }
}

.serv {
    padding: 50px 0 20px 0;
    margin-top: -18px;
    h2 {
        color: $nics;
    }
}

// .btn{display: inline-block; padding: 5px 10px; font-size: 14px; color: #fff; border: 2px solid #4d92d9; background-color: #4d92d9; text-decoration: none; transition: 0.4s;}
// .btn:hover{background-color: transparent; color: #4d92d9; transition: 0.4s;}
.text-desc {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(216, 180, 43, .7);
    height: 100%;
    opacity: 0;
    width: 100%;
    padding: 20px;
}


/*= Reset CSS End
================= *

/* effect-1 css */

.port-1 {
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.port-1 .text-desc {
    opacity: 0.9;
    top: -100%;
    transition: 0.5s;
    color: #000;
    padding: 45px 20px 20px;
}

.port-1 img {
    transition: 0.5s;
}

.port-1:hover img {
    transform: scale(1.2);
}

.port-1.effect-1:hover .text-desc {
    top: 0;
}

.text-desc {
    h3 {
        color: #2d2d2d;
        text-transform: uppercase;
        font-size: 2em;
    }
}

.quote {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.section3 {
    padding: 70px 0 30px 0;
    background-color: #f5f5f5;
}

.view-what-we-do .view-header {
    @include grid-column($columns: 10, $center: true);
    font-size: 1.4em;
    padding-top: 40px;
    padding-bottom: 40px;
}

.serv {
    text-align: center;
}

.customers h2 {
    text-align: center;
    color: #4a4a4a;
}

.section5 {
    padding: 60px 0;
}

.services_intro {
    @include grid-column($columns: 10, $center: true);
    font-size: 1.5em;
    padding-bottom: 40px;
}

// Testimonials
#testimonials {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

#testimonials h2 {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
}

#testimonials .carousel-wrap {
    display: block;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

#testimonials .carousel-nav {
    display: block;
    width: 300px;
    margin: 0 auto;
}

#testimonials .carousel-nav img {
    cursor: pointer;
}

#testimonials .carousel-nav img:active {
    position: relative;
    top: 1px;
}

#testimonials .carousel-nav .nextbtn {
    float: right;
}

#testimonials .carousel-wrap ul {
    display: block;
    list-style: none;
    position: relative;
}

#testimonials .carousel-wrap ul li {
    display: block;
    float: left;
    position: relative;
    width: 400px;
    margin-right: 15px;
}

#testimonials .carousel-wrap .context {
    font-size: 2.0em;
    line-height: 1.45em;
    color: #797670;
    font-style: italic;
    margin-bottom: 6px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dcdcdc;
}

#node-12 {
    padding-top: 50px;
}

h2 {
    text-align: center;
    color: #4a4a4a;
}

footer.l-footer.panel.row {
    margin-bottom: 0;
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    height: 120px;
    line-height: 98px;
    border: none;
}

.section6 {
    background-color: #f5f5f5;
}

@media all and (min-width: 1200px) and (max-width: 1600px) {
    .front .views-field.views-field-title {
        // position: absolute;
        top: 0px;
        background: $nics;
        // width: 307px;
        color: #fff;
        height: 73px;
    }
}
@media all and (min-width: 1200px) and (max-width: 1600px) {
.front .views-row-2 .views-field.views-field-title {
    background: #6f6969;
}
}

@media all and (min-width: 1200px) and (max-width: 1600px) {
    .front .views-row-2 .views-field.views-field-title:after {
        // left: 100%;
        top: 11%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #d8b42b;
        border-width: 36px;
        margin-top: -36px;
    }
}

@media all and (min-width: 1200px) and (max-width: 1600px) {
    .front .views-row-3 .views-field.views-field-title:after {
        // left: 100%;
        top: 11%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #6f6969;
        border-width: 36px;
        margin-top: -36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .front .views-field.views-field-title {
        height: 40px;
    }
}

#node-1 h2 {
    margin: 0;
}

.qmark {
    color: #bbb;
}

.vision {
    @include grid-column($columns: 10, $center: true);
    p {
        font-size: 1.4em;
        margin-left: 60px;
        margin-right: 60px;
    }
    h2 {
        color: $nics;
        opacity: 0.7;
        font-size: 1.4em;
        margin-bottom: 30px;
    }
}
.nsv {
    padding: 40px 0;
}
.values {
    @include grid-column($columns: 10, $center: true);
    p {
        font-size: 2.4em;
        text-align: center;
    }
    h2 {
        color: #4d4d4d;
        opacity: 0.7;
        font-size: 1.4em;
        margin-bottom: 30px;
    }
}

.ovalue {
    padding-top: 40px;
    background-color: #f5f5f5;
    margin-bottom: 40px;
}

.breadcrumbs {
    display: none;
}

@media all and (max-width:999px) {
 .breadcrumbs{
        font-size: 0.6875em;
    }
}
@media all and (max-width:480px) {
    .breadcrumbs{
        font-size: 0.5875em;
    }
}
.node-type-career .breadcrumbs ,
.page-node-23 .breadcrumbs,
.node-type-blog .breadcrumbs{
    display: block;
}

.node-type-blog .breadcrumbs,
.node-type-blog .button-group {
    @include grid-column($columns:8, $center:true);
    margin-top: 150px;
}

@media all and (max-width:1440px){
.page-node-23 .breadcrumbs,
.page-node-23 .button-group {
    @include grid-column($columns:8, $center:true);
}
}

@media all and (max-width:480px){
.page-node-23 .breadcrumbs {
    @include grid-column($columns:12, $center:true);
}
}



article#node-15 {
    margin-top: -19px;
}

.value1:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    width: 130px;
    margin-left: -65px;
    bottom: 0;
    height: 1px;
    background: $nics;
    top: 84px
}

.value2:before {
   display: block;
content: '';
position: absolute;
left: 50%;
width: 130px;
margin-left: -65px;
bottom: 0;
height: 1px;
background: #d8b42b;
top: 226px;
}


.value3:before {
   display: block;
content: '';
position: absolute;
left: 50%;
width: 130px;
margin-left: -65px;
bottom: 0;
height: 1px;
background: #d8b42b;
top: 420px;
}



.value4:before {
   display: block;
content: '';
position: absolute;
left: 50%;
width: 130px;
margin-left: -65px;
bottom: 0;
height: 1px;
background: #d8b42b;
top: 614px;
}

// .value4:after {
//     display: block;
// content: '';
// position: absolute;
// left: 50%;
// width: 130px;
// margin-left: -65px;
// bottom: 0;
// height: 1px;
// background: #d8b42b;
// top: 745px;
// }

@media all and (max-width:1440px) {
   .process {
    @include grid-column($columns: 8, $center: true);
} 
}

@media all and (max-width:480px) {
   .process {
    @include grid-column($columns: 10, $center: true);
} 
}

@media all and (max-width:480px) {
.sp h2 {
    font-size: 1.4em !important;
}
}

@media all and (max-width:480px) {
.sp {
     padding: 10px 0 !important;
    p, ul li {
    font-size: 1em !important;
}
}
}

@media all and (max-width:1440px) {
.sp {
    padding: 40px 0;
    .serv2 {
        border-top: 1px solid rgba(204, 204, 204, 0.45);
        border-bottom: 1px solid rgba(204, 204, 204, 0.45);
    }
    .serv3,
    .serv4 {
        border-bottom: 1px solid rgba(204, 204, 204, 0.45);
    }
    h2 {
        font-size: 2.6em;
        text-transform: uppercase;
        color: $nics;
    }
    p,
    ul li {
        font-size: 1.4em;
        color: #6f6d6d;
        list-style-image: url("/sites/default/files/scon.gif");
    }
}
}
@media all and (min-width:1200px) and (max-width:1440px) {
.serv_intro {
    @include grid-column($columns: 6, $center: true);
    font-size: 2em;
    text-align: center;
}
}

@media all and (min-width:600px) and (max-width:1024px) {
.serv_intro {
    @include grid-column($columns: 10, $center: true);
    font-size: 2em;
    text-align: center;
}
}

@media all and (min-width:320px) and (max-width:800px) {
    .serv_intro{
     @include grid-column($columns: 10, $center: true);
    font-size: 1em;
    text-align: center;
}
}

.services_top {
    background-color: $alt_color;
    padding: 40px 0;
    color: #fff;
}

article#node-16 {
    padding: 60px 0;
}

// .contextual-links-region.panel-pane.pane-node.services_header.row {
//     height: 490px;
// }

.core {
    font-style: italic !important;
}

@media all and (max-width:480px) {
    .view-header p {
        font-size: 0.6em;
    }
}

header.l-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: #FFF;
    height: 85px;
   box-shadow: 0 0 2px rgba(6,8,8,0.15);
   position: fixed;
}


@media all and (min-width:600px) and (max-width:1024px) {
header.l-header {
  height:85px;
  }
  }

  @media all and (min-width:320px) and (max-width:736px) and (orientation:portrait) {
header.l-header {
  height:38px;
  }
  }

  @media all and (min-width:360px) and (max-width:640px) and (orientation:portrait) {
.logo {
    padding: 6px 0 0 20px;
    width: 26%;
}
}

  @media all and (min-width:480px) and (max-width:757px) and (orientation:portrait) {
.logo {
    padding: 22px 0 0 20px;
    width: 34%;
}
}

@media only screen and (-webkit-min-device-pixel-ration:0) and (max-device-width:480px) {
	.logo {
    padding: 2px 0 0 20px;
    width: 26%;
}
}

  @media only screen and (max-width:767px) {
.logo {
    padding: 6px 0 0 20px;
    width: 26%;
}
}

  @media only screen and (max-width:600px) {
.logo {
    padding: 6px 0 0 20px;
    width: 19%;
}
}

@media all and (min-width:320px) and (max-width:736px) and (orientation:landscape) {
.logo {
    padding: 6px 0 0 20px;
    width: 38%;
}
}

@media all and (min-width:414px) and (max-width:736px) and (orientation:landscape) {
.logo {
    padding: 6px 0 0 20px;
    width: 34%;
}
}

@media all and (min-width:768px) and (max-width:1440px){
.logo {
    padding: 10px 0 0 20px;
}
}

@media all and (min-width:800px) and (max-width:1280px){
.logo {
    padding: 10px 0 0 20px;
}
}


//Menu
.button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    &:hover {
        opacity: .7;
    }
    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: $color-active;
        }
        .middle {
            opacity: 0;
            background: $color-active;
        }
        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: $color-active;
        }
    }
    span {
        background: $nics;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
        &:nth-of-type(2) {
            top: 11px;
        }
        &:nth-of-type(3) {
            top: 22px;
        }
    }
}

.overlay {
    position: fixed;
    background: $nics;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    &.open {
        opacity: .9;
        visibility: visible;
        height: 100%;
        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;
            &:nth-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-of-type(3) {
                animation-delay: .45s;
            }
            &:nth-of-type(4) {
                animation-delay: .50s;
            }
        }
    }
    nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: 'Vollkorn', serif;
        font-weight: 400;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
        li {
            display: block;
            height: 25%;
            height: calc(100% / 6);
            min-height: 50px;
            position: relative;
            opacity: 0;
            width: 100%;
            a {
                display: block;
                position: relative;
                color: $color-link;
                text-decoration: none;
                overflow: hidden;
                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 100%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0%;
                    transform: translateX(-50%);
                    height: 3px;
                    background: $color-link;
                    transition: .35s;
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

#main-menu-links.inline-list li {
    margin-left: 0;
}

// .block.block-block-1 {
//     @include grid-column(6);
//     p {
//         color: #fcfcfc;

//         .fuo {
//             font-style: italic;
//             margin-right: 8px;
//         }
//     }
// }

.block.block-block-2 {
    @include grid-column($columns:10, $center:true);
    p {
        color: #fcfcfc;
         margin-bottom: 0;
        padding: 26px 0;
    }
}

.node-type-career {
    .page {
        background-color: $page_color;
    }
    ul li {
        line-height: 35px;
    }
    h1#page-title {
        text-transform: uppercase;
    }
    .field-job-description {
        margin-bottom: 30px;
        line-height: 26px;
    }
    .l-main {
        @include grid-column($columns: 10, $center: true);
        .main {
            margin-top: 140px;
        }
    }
}

.jobs {
    border: 1px solid #eee;
    padding: 20px;
    margin: 10px 0;
    .views-field-nothing a {
        font-size: 0.8em;
    }
    h4 {
        font-size: 0.8em;
        color: $nics;
        text-transform: capitalize;
    }
    .views-field.views-field-title {
        margin: 30px 0;
        .field-content {
            font-size: 1.4em;
            text-transform: uppercase;
            color:$nics;
            a {
                color: $nics;
                &:hover {
                    color: #4a4a4a;
                }
            }
        }
    }
}

.view-job-lisiting, .view-ns-jobs {
    @include grid-column($columns: 8, $center: true);
    top: 85px;
    margin-bottom: 200px;
    z-index: 1;

    .view-header {
        // @extend .view-job-lisiting;
        @include grid-column($columns: 8, $center: true);
        h2 {
          font-size: 2em;
        }
    }
}

@media all and (max-width:1440px){
#node-23 {
    @include grid-column($columns: 8, $center: true);
}
}
@media all and (max-width:480px){
  #node-23 {
    @include grid-column($columns: 10, $center: true);
}  
}

.form-item.webform-component.webform-component-select.webform-component--status,
.webform-component--job-role {
    display: none;
}

.page-cvs .large-12.main,
.page-node-23 .large-12.main {
    margin-top: 140px;
}

.page-cvs .page {
    background-color:$page_color;
}

.page-node-23 {
    .page {
        background-color: $page_color;
    }
    h1 {
        text-align: center;
    }
}

#jobs {
position: relative;
top:77px;
#node-34  {
    img {
      // max-height: 280px;  
    }
    h2.node-title{
        display: none;
    }
    
    }
}


#listing {
    margin-top: 70px;
}
.l-messages.row {
    position: absolute;
    top: 90px;
    z-index: 1;
    .messages.status {
      background-color: $nics;
      border-color: #f3f3f3;
      display: none;
      a {
        color:#fff;
        text-decoration: underline;

      }
    }
}

.views-exposed-widgets {
    margin-bottom: .5em;
    // background: $nics;
    padding: 10px;
}
.views-exposed-form label {
    font-weight: bold;
    color: $nics;
    }

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $nics;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: #4a4a4a;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
[class^="hvr-"] {
    /* display: inline-block; */
    /* vertical-align: middle; */
    margin: .4em;
    padding: 0.5em 2em;
    cursor: pointer;
    background: #e01515;
    text-decoration: none;
    color: #f5f5f5;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Underline From Center
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $nics;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
.mmenu {
  position: fixed;
top: 6%;
right: 5%;
}


@media all and (min-width:768px) and (max-width:1024px) {
    #contact2 {
        #node-35 {
            @include grid-column($columns: 6);
        }
        p {
            font-size: 2em;
            color: #fff;
        }
    }
}

@media all and (min-width:768px) and (max-width:1024px) {
    #contact-site-form {
        @include grid-column($columns: 6);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}


@media all and (min-width:600px) and (max-width:960px) and (orientation:portrait){
    #contact2 {
        #node-35 {
            @include grid-column($columns: 12);
        }
        p {
            font-size: 2em;
            color: #fff;
        }
    }
}

@media all and (min-width:600px) and (max-width:960px) and (orientation:portrait){
    #contact-site-form {
        @include grid-column($columns: 12);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media all and (min-width:1200px) and (max-width:1440px) {
    #contact2 {
        #node-35 {
            @include grid-column($columns: 6);
        }
        p {
            font-size: 2em;
            color: #fff;
        }
    }
}

@media all and (min-width:1200px) and (max-width:1440px) {
    #contact-site-form {
        @include grid-column($columns: 6);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media all and (min-width:320px) and (max-width:480px) {
    #contact2 {
        #node-35 {
            @include grid-column($columns: 12);
        }
        p {
            font-size: 1em;
            color: #fff;
        }
    }
}

@media all and (min-width:320px) and (max-width:480px) {
    #contact-site-form {
        @include grid-column($columns: 12);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}


@media all and (min-width:320px) and (max-width:480px) and (orientation:landscape){
    #contact2 {
        #node-35 {
            @include grid-column($columns: 12);
        }
        p {
            font-size: 1em;
            color: #fff;
        }
    }
}

@media all and (min-width:320px) and (max-width:480px) and (orientation:landscape) {
    #contact-site-form {
        @include grid-column($columns: 12);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media all and (min-width:320px) and (max-width:568px) and (orientation:landscape){
    #contact2 {
        #node-35 {
            @include grid-column($columns: 12);
        }
        p {
            font-size: 1em;
            color: #fff;
        }
    }
}

@media all and (min-width:320px) and (max-width:568px) and (orientation:landscape) {
    #contact-site-form {
        @include grid-column($columns: 12);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media all and (min-width:375px) and (max-width:667px) and (orientation:landscape){
    #contact2 {
        #node-35 {
            @include grid-column($columns: 12);
        }
        p {
            font-size: 1em;
            color: #fff;
        }
    }
}

@media all and (min-width:375px) and (max-width:667px) and (orientation:landscape) {
    #contact-site-form {
        @include grid-column($columns: 12);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media all and (min-width:414px) and (max-width:736px) and (orientation:landscape){
    #contact2 {
        #node-35 {
            @include grid-column($columns: 12);
        }
        p {
            font-size: 1em;
            color: #fff;
        }
    }
}

@media all and (min-width:414px) and (max-width:736px) and (orientation:landscape) {
    #contact-site-form {
        @include grid-column($columns: 12);
        label {
            color: #fff;
            padding: 10px 0;
            background-color: $nics;
            margin-bottom: 0;
            text-align: center;
        }
    }
}



#edit-name:not(:focus), #edit-mail:not(:focus), #edit-subject:not(:focus),
#edit-message:not(:focus) {
  background-color: rgba(252, 252, 252, 0.46);
  border-top:none;
  color:#fff;


}

#edit-name:focus, #edit-mail:focus, #edit-subject:focus,
#edit-message:focus {
  background-color: rgb(252, 252, 252);
  border-top:none;
  -webkit-transition: background 2s;
     -moz-transition: background 2s;
      -ms-transition: background 2s;
       -o-transition: background 2s;
          transition: background 2s;

}
    
 @media all and (max-width:1440px){   
.contact_page {
    position: relative;
    top: 85px;
    padding: 100px 0;
    background-image: url("/sites/default/files/2.jpg");
    background-repeat: no-repeat;
}
}

 @media all and (max-width:480px){   
.contact_page {
    position: relative;
    top: 0px;
    padding: 100px 0;
    background-image: url("/sites/default/files/2.jpg") no-repeat;
    background-repeat: no-repeat;
}
}

@media all and (max-width:1440px){
#edit-message {
    max-width: 100%;
    min-width: 100%;
    min-height: 170px;
}
}

@media all and (max-width:480px){
#edit-message {
    max-width: 100%;
    min-height: 170px;
    min-width: 100%;
}
}
.resizable-textarea .grippie {
  display: none;
}

.fa {
  color:#FFF;
}
.contact_details {
    text-align: center;
  h4 {
    color: $nics;
    background: #fff;
    padding: 20px;
    width: 217px;
    margin: auto;
}
}

.buzz {
  position: relative;
  background: #fff;
}
.buzz:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}

.phone {
    margin-top: 27px;
}

.webform-component .form-text,
.webform-component .form-select, #edit-data-1, #user-login #edit-name:not(:focus), #user-login #edit-pass:not(:focus){
  height:40px;
 background-color: #565151;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  color:#fff;
}

#edit-submitted-first-name:focus,
#edit-submitted-surname:focus,
#edit-submitted-years-of-experience:focus,
#edit-submitted-age-range:focus,
#edit-submitted-highest-level-of-education:focus,
#edit-submitted-salary:focus, #user-login #edit-name, #user-login #edit-pass
{
  height:40px;
 background-color: $nics;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  color:#333;
  -webkit-transition: background 2s;
     -moz-transition: background 2s;
      -ms-transition: background 2s;
       -o-transition: background 2s;
          transition: background 2s;
}

select {
    font-size: 15px;
    background-image: url("/sites/default/files/dropdown.png");
    background-position: right top;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    box-shadow: 0;
    background-color: #565151;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

}

.file a{
  color:$nics;

}

.views-widget #edit-data {
  font-size: 15px;
    background-image: url("/sites/default/files/dropdown.png");
    background-position: right top;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    box-shadow: 0;
    background-color: #565151;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    width: 300px;
}

//New Tesimonials

.cd-testimonials-wrapper {
  position: relative;
  width: 90%;
  max-width: 768px;
  background-color: #39393c;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px 70px;
  z-index: 1;
}
.cd-testimonials-wrapper::after {
  /* quotation mark */
  content: '\201C';
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  margin-left: -25px;
  background: rgba(32, 32, 34, 0.9);
  font-family: "Georgia", serif;
  color: #ffffff;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-wrapper {
    margin: 4em auto;
    padding: 64px 50px 114px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }
}

.cd-testimonials {
  color: #ffffff;
  text-align: center;
}
.cd-testimonials::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 0 14px;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials p {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.6;
  }
}

.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
.cd-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #6b6b70;
}
@media only screen and (min-width: 768px) {
  .cd-author img {
    width: 50px;
    height: 50px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #ffffff;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: #ffffff;
  }
}

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #252527;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b70;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
  color: #79b6e4;
}

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
  position: relative;
  background: #79b6e4;
  color: #ffffff;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: '';
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #79b6e4;
}
.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
  -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (min-width: 768px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 46%;
    margin: 0 2% 3em;
  }
  .cd-testimonials-all .cd-author {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }
}

.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#node-12 h2,
#node-11 h2 {
  color:$nics;
}

.page-contact-us {
  .panel {
   border:none;
  }
  footer.l-footer.panel.row {
  position: relative;
  top:85px;

}
}

.our_vision {
    float: left;
    background: #d8b42b;
    /* color: #fff; */
    width: 50%;
    height: 350px;
    text-align: center;
    h1 {
    color: #f3f3f3;
    line-height: 350px;
    font-size: 5em;
}
}

.statement {
  height: 350px;
  background-color: #F3f3f3;
  padding: 40px;
      float: right;
    width: 50%;
   p{
     font-size: 1.3em;
   }
}

div#about-vision {
    margin-top: -39px;
}

.section_values {
    float: left;
    background: #f3f3f3;
    width: 50%;
    height: 350px;
    text-align: center;
    h1 {
    color: #333;
    line-height: 350px;
    font-size: 5em;
}
}

.value_items {
  height: 350px;
  background-color: $nics;
  padding: 40px;
      float: right;
    width: 50%;
   p{
     font-size: 1.4em;
     color:#f3f3f3;
   }
   .fa {
     margin-right: 5px;
     color: #4a4a4a;
   }
}

#node-37 {
    margin-top: -19px;
}
#node-36 {
    margin-top: -39px;
}

.page-user {
  .row.l-main {
    position: relative;
    top: 85px;
    margin-bottom: 85px;
}

  #user-login, .button-group, h1#page-title{
    @include grid-column($columns:6, $center:true);
  }
.button-group {
  display: none;
}
}

#career-node-form {
   @include grid-column($columns:8, $center:true);
}


//MObile Styles




@media all and (min-width:768px) and (max-width:1024px) and (orientation: portrait){
.button_container {
  position: fixed;
  top:4%;
  }
}

@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape){
.button_container {
  position: fixed;
  top:4%;
  }
}

@media all and (min-width:800px) and (max-width:1280px) and (orientation: portrait){
.button_container {
  position: fixed;
  top:3%;
  }
}

@media all and (min-width:320px) and (max-width:738px) and (orientation: portrait){
.button_container {
  position: fixed;
  top:1%;
  }
}

@media all and (min-width:320px) and (max-width:738px) and (orientation: landscape){
.button_container {
  position: fixed;
  top:8%;
  }
}

@media all and (min-width:320px) and (max-width:768px) {
  .mmenu {
    display: none;
  }
}




@media all and (max-width:480px) {
.quote {
  font-size: 1.5em;
}
}

@media all and (max-width:480px) {
.services_intro {
  font-size: 1em;
}

  }

  @media all and (max-width:480px) {
.text-desc {
  h3 {
      font-size: 1em;
  }
}
  }
@media all and (max-width:480px) {
  .fs6 {
        height: 150px;
        width: 100%;
        background-color: $nics;
        h3 {
            &:hover {
                color: #f4f4f4;
            }
            a {
                color: #f4f4f4;
                text-transform: uppercase;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .gotos {
      padding: 48px 0;
      a {
        font-size: 1em;
      }
    }

}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0.7em;
}

.view-ns-blog {
    .field-content a {

        h2 {
       color:$nics;
    font-family: 'PT Sans';
    font-size: 2.4em;
        }
    }
    .field-body.field-wrapper.body.field {
    font-size: 1.4em;
}
}

.node-blog  {
    .field-body.field-wrapper.body.field {
    font-size: 1.4em;
    margin-top: 30px;
    }
    .field-submitted-by.field-wrapper {
    margin-bottom: 20px;
    color: #b0abab;
    font-style: italic;
    }
    .field-title {
        h2 {
        font-size: 2.28em;
        color: $nics;
    }
    }
}

.node-blog.view-mode-full.row {
    width: 70% !important;
    margin: 90px auto 0 auto !important;
}


.blog-tags {
    display: inline;
}

.field-category {
    display: none;
}

.block-views-similarterms-block {
    .block-title {
    text-align: left;
    padding-left: 17px;
    font-size: 1.5em;
    color: $nics;
    border-bottom: 1px solid #eee;

}
}

.view-similarterms {
  .views-field.views-field-title {
    text-align: center;
}
}

.block.block-views.block-views-blog-categories-block-1 {
    margin-bottom: 80px;
}

#dsq-app1 {
    margin-top: 100px;
}

.blog-tags .label.secondary {
    padding: 10px;
    background-color: #f5f5f5 !important;
}

.view-ns-blog {
    margin: 200px 0 120px 0 !important;
}

.blog_list {
    padding: 40px 0;
    .field-blog-image.field-wrapper {
    text-align: center;
    border: 2px solid #eee;
    margin: 0 10px;
    img {
        width: 100%;
    }
}
    .views-field-title {
        text-align: center;
        font-size: 1.4em;
        // height: 70px;
        // line-height:70px;
        margin-bottom: 5px;
        a {
            color: #344;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
.blog_list {
    .views-field-title {
      font-size: 1em;  
    }   
}
}

.view-blog-categories {
 background: url("/sites/default/files/price-tag.png") 0 center no-repeat;
 padding: 0px 0px 2px 25px;
}

.page-blog.views-page  {
.addthis-smartlayers,
div#at4-follow,
div#at4-share,
div#at4-thankyou,
div#at4-whatsnext {
  display: none !important;
}
}

.block.block-mailchimp-signup.block-mailchimp-signup-blog-signup-form,
.block.block-mailchimp-signup.block-mailchimp-signup-vacancy{
    background: $nics;
    padding: 40px;
    margin-bottom: 40px;
}
//.mailchimp-signup-subscribe-form .mailchimp-signup-subscribe-form-description {
//  text-align: center;
//}
.page-services h1#page-title,
.page-vacancies h1#page-title,
.page-contact-us h1#page-title,
.page-about-us h1#page-title{
    display: none;
}

.view-ns-jobs .view-empty p {
  font-size: 1.5em;
  text-align: center;
}

.top_img {
    width: 100%;
}

@media screen and (min-width:1200px) and (max-width: 1600px) {
.image-box img{
    height:255px;
    width:100%;
}
}

.section1{
    .pane-content {
        margin-bottom: -20px;
    }
}

@media all and (max-width:480px) {
.block.block-block-2 p {
    color: #fcfcfc;
    margin-bottom: 0;
    padding: 0px 0;
}
.our_vision h1, .section_values h1{
    font-size:2em ;
    }

    .statement p {
    font-size: 0.9em;
}
}

@media all and (max-width:480px){
.page-contact-us .large-12.main.columns {
    margin-bottom: -85px;
}
}

#node-53{
    text-align: center;
    margin-top: 200px;
    h1 {
        font-size: 5em;   
    }
}

.page-node-53 {
    h1#page-title {
    display: none;
}
footer.l-footer.panel.row {
        display: none;
    }
}

#node-15 img {
    width: 100%;   
}
#at-cv-lightbox, .at-cv-lightbox-background {
display:none !important;
}

.group-content {
    .field-blog-image.field-wrapper {
    border: 1px solid #ccc;
}
}

.form-item.webform-component.webform-component-email.webform-component--email {
    display: none !important;
}

#node-54 {
    text-align: center;
    margin-top: 200px;
    h1 {
        font-size: 5em;
    }
}

.page-node-54 {
#page-title {
    display: none;
}
    footer.l-footer.panel.row {
        display: none;
    }
}

#node-18 {
    margin-top: 86px;
}